<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/works">Trabajos</a></li>
          <li><a href="/gallery">Galería</a></li>
        </ul>
      </nav>

    <h1>¿Que es Nintendo?</h1><br>

    <p>Nintendo es una reconocida empresa japonesa en la industria de los videojuegos y el entretenimiento. Fue fundada en 1889 por Fusajiro Yamauchi y se ha convertido en una de las empresas líderes en el desarrollo, producción y venta de videojuegos y consolas.<br>

        Nintendo ha creado muchas consolas populares a lo largo de los años, como la NES (Nintendo Entertainment System), la Super Nintendo, la Nintendo 64, la GameCube, la Wii, la Wii U y la más reciente Nintendo Switch. Además de las consolas, Nintendo también ha desarrollado y publicado una amplia variedad de juegos exitosos, como la serie de Mario, The Legend of Zelda, Pokémon, Animal Crossing, Splatoon y muchos otros.<br>
        
        La empresa es conocida por su enfoque en la innovación y la diversión en sus productos, así como por su dedicación a crear experiencias de juego únicas y accesibles para todo tipo de jugadores. Nintendo ha dejado una huella significativa en la industria de los videojuegos y ha influido en la forma en que millones de personas disfrutan de los juegos y el entretenimiento interactivo.
        
        Es importante destacar que Nintendo es una empresa japonesa y su nombre original se pronuncia "nee-ten-doh" en japonés.</p>

    <script src="/js/main.js"></script>
</body>
</html>