<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Acerca de</a></li>
          <li><a href="/works">Trabajos</a></li>
        </ul>
      </nav>

    <h1>Juegos TOP</h1><br>
    <img class="imagenes" src="/images/super mario.jpg" alt="superMario"></img>
    <img class="imagenes" src="/images/zelda.jpg" alt="Zelda"></img>
    <img class="imagenes" src="/images/pokemon.jpg" alt="Pokemon"></img>
    <img class="imagenes" src="/images/mario kart.jpg" alt="marioKart"></img>
    <img class="imagenes" src="/images/super smash bros.jpg" alt="superSmash"></img>
  


    <script src="/js/main.js"></script>
</body>
</html>