<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav>
        <ul>
          <li><a href="/about">Acerca de</a></li>
          <li><a href="/works">Trabajos</a></li>
          <li><a href="/gallery">Galería</a></li>
        </ul>
      </nav>

    <img class="imgNintendo" src="/images/NINTENDO LOGO.png" alt="logo-nintendo"></img>

    <script src="/js/main.js"></script>
</body>
</html>