<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/about">Acerca de</a></li>
          <li><a href="/gallery">Galería</a></li>
        </ul>
      </nav>
      <seccion class="works">
      <h1>Juegos populares de Nintendo</h1>
      <h3>Nintendo ha lanzado numerosos juegos populares a lo largo de los años. Aquí hay una lista de algunos de los juegos más populares y reconocidos de Nintendo:</h3>
      <ol>
          <li><strong>1- Super Mario Bros. (Serie) -</strong> Una de las franquicias más icónicas de Nintendo, que sigue las aventuras del fontanero Mario en su misión por rescatar a la princesa Peach del malvado Bowser.</li>
          <li><strong>2- The Legend of Zelda (Serie) -</strong> Una serie de juegos de aventuras y acción que sigue las hazañas del héroe Link en su lucha contra el malvado Ganon para proteger la princesa Zelda y el reino de Hyrule.</li>
          <li><strong>3- Pokémon (Serie) -</strong> Una franquicia de videojuegos y medios relacionados que se centra en la captura y entrenamiento de criaturas ficticias llamadas Pokémon. Los jugadores se embarcan en una aventura para convertirse en Maestros Pokémon.</li>
          <li><strong>4- Mario Kart (Serie) -</strong> Una serie de juegos de carreras que presenta a los personajes de Mario y sus amigos compitiendo en divertidos circuitos llenos de obstáculos y power-ups.</li>
          <li><strong>5- Super Smash Bros. (Serie) -</strong> Un juego de lucha que reúne a varios personajes de diferentes franquicias de Nintendo (y otras) para enfrentarse en combates emocionantes.</li>
      </ol>
    </seccion>
    
    <script src="/js/main.js"></script>
</body>
</html>